DATABASE_URL="mysql://root:root@localhost:3306/aura"
JWT_SECRET="aura_secret_key_123"
PORT=5000
JWT_EXPIRES_IN="7d"

SUMSUB_APP_TOKEN=your_app_token
SUMSUB_SECRET_KEY=your_secret_key
SUMSUB_WEBHOOK_SECRET=your_webhook_secret
SUMSUB_BASE_URL=https://api.sumsub.com
SUMSUB_LEVEL_NAME=id-and-liveness
